@font-face {
    font-family: 'NunitoSans';
    src: url(fonts/NunitoSans-Regular.ttf);
}
@font-face {
    font-family: 'NunitoBold';
    src: url(fonts/NunitoSans-Bold.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NunitoSans';
}
body{
    background: linear-gradient(to bottom right,#fbdb89,#f48982);
    background-repeat: no-repeat;
    background-size: cover;
}

.myContainer{
    width: 80%;
    margin: 4% auto;
    background-color: #f9f5f3;
    border-radius: 10px;
    box-shadow: 0 30px 90px 8px #574e4c33;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    position: relative;

}
.logo{
    width: 140px;
}
.logo img{
    width: 100%;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}
.bookmark_container{
    width: 380px;
    height: auto;
    display: flex;
    flex-direction: column; 
    text-align: center;
    color: #615551;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    transform: .5s;
    z-index: 99;

}
.bookmark:hover + .bookmark_container {
    display: block;
}
.bookmark_container:hover {
    display: block;
}
.bookmark_container i{
    color: #f48982;
    font-size: 25px;
    margin-right: 5px;

}
.bookmark_container .bookmarkAlert{
    color: #615551;
    font-size: 18px;
    font-weight: 500;
    padding: 30px;
}

nav li{
    list-style: none;
}

nav a{
    text-decoration: none;
    color: #615551;
    font-weight: 600;
    padding: 41px 15px;
}
nav a:hover{
    background-color: #efefef;
    color: #615551;
    
}
nav a i{
    color: #f48982;
    font-size: 20px;
    margin-right: 5px;
}
nav form{
    position: relative;
}
#FormSearch input{
    border: none;
    padding: 0 20px;
    height: 55px;
    border-radius: 50px;
    width: 400px;
    font-size: 17px;
    outline: none;
    transition: all .3s;
}
nav input:focus{
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    transform: translate(0,-2px);
}
nav input:focus +button{
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    transform: translate(0,-2px);

}
#FormSearch button{
    position: absolute;
    right: -100px;
    top: 0;
    bottom: 0;
}
button{
    background: linear-gradient(to bottom right,#fbdb89,#f48982);
    border: none;
    padding: 0 40px;
    outline: none;
    height: 55px;
    border-radius: 50px !important;
    color: white;
    font-size: 17px; 
    font-weight: 500;
    transition: .3s;
    cursor: pointer;
}
nav button:hover{
    transform: scale(1.05);
}
nav button i{
    margin-right: 5px;
    font-size: 18px;
}
.addRecipe{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    position: relative;
}
.addRecipe h2{
    margin-bottom: 40px;
}
.modalClose{
    position: absolute;
    top: 10px;
    right: 10px;
}
.labelInput{
    margin-bottom: 20px;
}
.labelInput input{
    border: 2px solid rgb(225, 225, 225);
    padding: 5px 10px;
    border-radius: 5px;
    width: 300px;
    outline: none;
}
.labelInput label{
    width: 150px;
}
.btn_upload{
   text-align: center;
   margin-bottom: 30px;
}
/* ***********************************************    aside_main    **************************************************************/
.loader, .loaderMain {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #b2b2b2; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin: auto;
    display: none;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.aside_main{
    display: flex;
    
}
.asideContainer{
    display: flex;
    align-items: center;
    text-align: left;
    padding: 20px;
}
.asideContainer:hover{
    background-color: #f9f5f3;
}
.asideContainer p{
   margin: 5px 0px 2px 15px;

}
#trecipeTitle{
    color: #f38e90;
    font-size: 17px;
}
#trecipeDesc{
    color: #9193b1;
}
/* ***********************************************    aside    **************************************************************/

aside{
    background-color: white;
    height: 1250px;
    width: 35%;
    border-radius: 0 0 0 10px;
    position: relative;
    padding: 20px 0 100px;
    overflow: hidden;
}
.asideContainer{
    cursor: pointer;
}
aside img, .bookmarkImg{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.copyright{
    position: absolute;
    bottom: 0;
    color: #a39fab;
    font-size: 13px;
    line-height: 1.5;
    padding: 0 20px;
}
.btn_pagination{
    background-color: #f9f5f3;
    color: #f38e90;
    border-radius: 50px;
    width: 80px;
    border: none;
    height: 30px;
}
/* ***********************************************    main    **************************************************************/

main{
    background-color: transparent;
    width: 65%;
    text-align: center;
    border-radius: 0 0 10px 0;
    position: relative;
}
.mainAlert{   
    color: #615551;
    font-size: 20px;
    font-weight: 600;
    width: 40%;
    margin: 50px auto 0;
}

main p i {
    color: #f48982;
    font-size: 25px;
    margin-right: 5px;
}
.recipeImg{
    height: 350px;
    position: relative;
}
.recipeImg:before {
    content: "";
    height: 100%;
    width: 100%;
    opacity: .5;
    background: linear-gradient(to bottom right,#fbdb89,#f48982);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.recipeImg img{
    width: 100%;
    height: 100%;
    
}
.recipeImg h1{
    background: linear-gradient(to bottom right,#fbdb89,#f48982);
    width: 45%;
    text-align: center;
    padding: 5px;
    font-size: 35px;
    font-weight: 600;
    line-height: 1.5;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,10%)rotate(-10deg);
}
.recipeImg h1 span{
    color: white; 
}
.recipeDetails{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0 30px;
}
.bookmarkIcon {
    border-radius: 50% !important;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right,#fbdb89,#f48982);
    transition: .3s;
    margin-top: -20px;
    cursor: pointer;
}
.bookmarkIcon:hover{
    transform: scale(1.05);
}
.bookmarkIcon i{
    font-size: 22px;
    color: white;
}
.recipeInfo h6{
    font-size: 18px;
    margin-right: 15px;
}
.recipeInfo h6 span{
   font-family: 'NunitoBold';
}
.recipeInfo i{
    color: #f38e90;
    margin-right: 5px;
    font-size: 22px;
}
.recipeInfo{
    display: flex;
    justify-content: center;
}
.servingIco{
    width: 20px;
    height: 20px;
    border: 2px solid #f38e90;
    border-radius: 50%;
    color: #f38e90;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    cursor: pointer;
}
.recipeIngredient{
    background-color: #f2efee;
    padding: 50px 30px;
    overflow: hidden;
}
.recipetDetails{ 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
main h4{
    color: #f48982;
   font-family: 'NunitoBold';
   margin-bottom: 30px;
}
.ingredientDetail{
    width: 42%;
    text-align: left;
    margin-bottom: 20px;
    display: flex;
}
.recipeIngredient i{
    color: #f38e90;
    font-size: 22px;
    margin-right: 10px;
}
.webSite{
    padding: 50px 30px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}
.webSite p{
    width: 80%;
    margin: 0 auto 30px;
    color: #615551;
    font-size: 17px;
}
.webSite p span{
    font-family: 'NunitoBold';
}
.webSite button{
    width: 200px;
    margin: auto;
}
.webSite button i{
    color: white;
    margin-left: 10px;
}